[Unit]
Description=Lingling Service
After=network.target

[Service]
User=demon
Group=demon
WorkingDirectory=/home/demon/lingling
ExecStart=/home/demon/lingling/app.py
[Install]
WantedBy=multi-user.target